{% extends 'default/Front/squelette.html.twig' %}

{% block content %}

    <section class="xs-welcome-slider">
        <div class="xs-banner-slider owl-carousel">
            <div class="xs-welcome-content" style="background-image: url({{ asset('Front/assets/images/backgrounds/news.jpg') }});">
                <div class="container">
                    <div class="xs-welcome-wraper color-white">
                        <h2>NEWS</h2>


                    </div><!-- .xs-welcome-wraper END -->
                </div><!-- .container end -->
                <div class="xs-black-overlay"></div>
            </div><!-- .xs-welcome-content END -->

                </div><!-- .container end -->
                <div class="xs-black-overlay"></div>
            </div><!-- .xs-welcome-content END -->


                </div><!-- .container end -->
                <div class="xs-black-overlay"></div>
            </div><!-- .xs-welcome-content END -->
        </div>
    </section><!-- End welcome section -->
    <section class="bg-gray xs-partner-section" style="background-image: url('{{ asset('Front/assets/images/map.png') }}');">
        <div class="container">
            <div class="row">
                {% for elt in News %}
                    <div class="col-lg-4 col-md-6">
                        <div class="xs-box-shadow xs-single-journal">
                            <div class="entry-thumbnail ">
                                <a href="{{ path('news_affichnewsd',{'id':elt.idn}) }}">
                                    <img height="300"  width="300" align="center" src="{{ asset('../../swr/web/uploads/' ~ elt.image) }}">
                                </a>
                                <div class="entry-header">
                                    <div class="entry-meta">
							<span  class="date">
								<a    rel="bookmark" class="entry-date">
									Date of publication: {{ elt.datepub|date("D,M,Y")}}
								</a>
							</span>
                                    </div>


                                        <a href="{{ path('news_affichnewsd',{'id':elt.idn}) }}">{{elt.titre}} </a>
                                    </h4>
                                </div><!-- .xs-entry-header END -->
                                <span class="xs-separetor"></span>
                                <!-- .post-meta END -->
                            </div><!-- .xs-from-journal END -->
                        </div>
                    </div><!-- .row end -->
                {% endfor %}
            </div>

        </div>
        </div>
        </div><!-- .row end -->

        </div><!-- .container end -->
        <div class="xs-btn-wraper" align="center">
            <a id="load_more" href="{{ path('news_allnews', {'m': m+3 } ) }}" class="btn btn-primary">
                <span class="badge"></span> Load More
            </a>
        </div><!-- .xs-btn-wraper END -->
        </div>
    </section><!-- End partners section -->

    <!-- journal section -->

{% endblock %}
