<html>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{ News.titre }}</title>
<head>
<link rel="stylesheet" href="{{ absolute_url(asset('Front/assets/css/font-awesome.min.css')) }}">
<link rel="stylesheet" href="{{ absolute_url(asset('Front/assets/css/xsIcon.css')) }}">
<link rel="stylesheet" href="{{ absolute_url(asset('Front/assets/css/isotope.css')) }} ">
<link rel="stylesheet" href="{{ absolute_url(asset('Front/assets/css/magnific-popup.css')) }} ">
<link rel="stylesheet" href="{{ absolute_url(asset('Front/assets/css/owl.carousel.min.css')) }} ">
    <link rel="stylesheet" href="{{ absolute_url(asset('Front/assets/css/owl.theme.default.min.css')) }} ">
    <link rel="stylesheet" href="{{ absolute_url(asset('Front/assets/css/animate.css')) }} ">



<!--For Plugins external css-->
<link rel="stylesheet" href="{{ absolute_url(asset('Front/assets/css/plugins.css')) }} " />

<!--Theme custom css -->
<link rel="stylesheet" href="{{ absolute_url(asset('Front/assets/css/style.css')) }} ">

<!--Theme Responsive css-->
<link rel="stylesheet" href="{{ absolute_url(asset('Front/assets/css/responsive.css')) }}" />

<!-- use only color version -->
<link rel='stylesheet' type='text/css' href='{{ absolute_url(asset('Front/assets/css/colors/color-3.css')) }}' >
</head>
<body>

<section class="bg-gray xs-partner-section" align="center" style="background-image: url('{{ asset('Front/assets/images/map.png') }}');">
    <div class="container" align="center">
        <div class="row" align="center">

            <div class="col-lg-4 col-md-6" align="center">

            </div>
            <div class="col-lg-4 col-md-6" align="center">
                <div class="xs-box-shadow xs-single-journal" align="center">
                    <h4 class="entry-title" align="center"  size="500" style="font-size:400%;">
                        <a >{{News.titre}} </a>
                    </h4>
                        <img height="400" width="400" align="center" src="{{ absolute_url(asset('../../swr/web/uploads/' ~ News.image)) }}">

                        <div class="entry-header" >
                            <div class="entry-meta">
							<span  class="date">
								<a    rel="bookmark" class="entry-date">
									Date of publication: {{ News.datepub|date("D,M,Y")}}
								</a>
							</span>
                            </div>


                            <h4  align="center">
                                <a >{{News.description}}</a>
                            </h4>



                        </div><!-- .xs-entry-header END -->
                        <span class="xs-separetor"></span>
                        <!-- .post-meta END -->
                    </div><!-- .xs-from-journal END -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6" align="center">

            </div><!-- .row end -->

        </div>
    </div>
    </div>
    </div><!-- .row end -->
    </div><!-- .container end -->
    </div>
</section><!-- End partners section -->
</body>
</html>
