
{% extends 'default/Back/squelette.html.twig' %}

{% block content %}
    <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Events Space</h1>
        <a href="{{ path('event_create') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i><img src="{{ asset('Back/img/add.png') }}"></i> Add Event</a>
    </div>

    <!-- Content Row -->
    <div class="row">

    {% if evt == NULL %}
        <h3>NO Events Found</h3>
    {% else %}

        <table class="table-bordered" style="margin-left: 4em">
            <thead style="background-color: #feaf31">
            <tr>
                <td style="color:#101010" align="center">{{knp_pagination_sortable(evt,'Name','nameEvt')}}</td>
                <td style="color: #101010" align="center">{{knp_pagination_sortable(evt,'Date','dateEvt')}}</td>
                <td style="color: #101010" align="center">{{knp_pagination_sortable(evt,'Time','timeEvt')}}</td>
                <td style="color: #101010" align="center">{{knp_pagination_sortable(evt,'Location','locationEvt')}}</td>
                <td style="color: #101010" align="center"><a href="#">Details</a></td>
                <td style="color: #101010" align="center">{{knp_pagination_sortable(evt,'Budget','budgetEvt')}}</td>
                <td style="color: #101010" align="center">{{knp_pagination_sortable(evt,'Organizator','organizatorEvt')}}</td>
                <td style="color: #101010" align="center"><a href="#">Image</a></td>
                <td style="color: #101010" align="center">{{knp_pagination_sortable(evt,'Viewed','nbviewsEvt')}}</td>
                <td style="color: #101010" align="center">{{knp_pagination_sortable(evt,'Sponsors','nbsponsorEvt')}}</td>
                <td style="color: #101010" align="center">{{knp_pagination_sortable(evt,'Participants','nbparticipantEvt')}}</td>
                <td style="color: #101010" align="center"><a href="#">State</a></td>
                <td style="color: #101010" align="center">{{knp_pagination_sortable(evt,'Still Needed','stillneededEvt')}}</td>
                <td style="color: #101010" align="center"><a href="#">Action</a></td>
            </tr>
            </thead>
            <tbody>
            {% for i in evt %}
                <tr>
                    <td>{{ i.nameEvt }}</td>
                    <td>{{ i.dateEvt |date("m/d/Y")}}</td>
                    <td>{{ i.timeEvt |date( 'H:i:s')}}</td>
                    <td>{{ i.locationEvt }}</td>
                    <td style="word-break: break-word">{{ i.detailsEvt }}</td>
                    <td>{{ i.budgetEvt }}</td>
                    <td>{{ i.organizatorEvt }}</td>
                    <td><img src="{{ asset('../../swr/web/uploads/') }}{{ i.urlEvt }}" height="55" width="70"></td>
                    <td align="center">{{ i.nbviewsEvt }}</td>
                    <td align="center">{{ i.nbsponsorEvt }}</td>
                    <td align="center">{{ i.nbparticipantEvt }}</td>
                    <td>{% if i.stateEvt == NULL %}unlaunched{% else %} Launched {% endif %}</td>
                    <td>{{ i.stillneededEvt }}</td>
                    <td align="center">
                        <a href="{{ path('event_delete', { 'id': i.idEvt} ) }}">
                           <img src="{{ asset('Back/img/delete.png') }}">
                        </a>
                        <a href="{{ path('event_update', { 'id': i.idEvt} ) }}">
                           <img src="{{ asset('Back/img/edit.png') }}">
                        </a>
                    </td>


                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
        <div class="navigation text-center" style="padding-top: 3em">
            {{ knp_pagination_render(evt) }}
        </div>
    {% endif %}

    <!-- Div Zeyda ama khaleha -->
    </div>
{% endblock %}