
{% extends 'default/Back/squelette.html.twig' %}

{% block content %}

    <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Sponsorship Space</h1>

    </div>

    <!-- Content Row -->
    <div class="row" style="padding: 0 8em 7em 0">

        {% if evt == NULL %}
        <h3>NO Events Found</h3>
        {% else %}

        <table class="table-bordered" style="margin-left: 4em">
            <thead style="background-color: #feaf31">
            <tr>
                <td style="color:#101010" align="center">Name</td>
                <td style="color: #101010" align="center">Date</td>
                <td style="color: #101010" align="center">Time</td>
                <td style="color: #101010" align="center">Location</td>

                <td style="color: #101010" align="center">Budget</td>
                <td style="color: #101010" align="center">Organizator</td>
                <td style="color: #101010" align="center">Image</td>
                <td style="color: #101010" align="center">Viewed</td>
                <td style="color: #101010" align="center">Sponsors</td>

                <td style="color: #101010" align="center">State</td>
                <td style="color: #101010" align="center">Still Needed</td>
                <td style="color: #101010" align="center">Action</td>
            </tr>
            </thead>
            <tbody>
            {% for i in evt %}
                <tr>
                    <td>{{ i.nameEvt }}</td>
                    <td>{{ i.dateEvt |date("m/d/Y")}}</td>
                    <td>{{ i.timeEvt |date( 'H:i:s')}}</td>
                    <td>{{ i.locationEvt }}</td>

                    <td>{{ i.budgetEvt }}</td>
                    <td>{{ i.organizatorEvt }}</td>
                    <td><img src="{{ asset('../../swr/web/uploads/') }}{{ i.urlEvt }}" height="55" width="70"></td>
                    <td align="center">{{ i.nbviewsEvt }}</td>
                    <td align="center">{{ i.nbsponsorEvt }}</td>

                    <td>{% if i.stateEvt == NULL %}unlaunched{% else %} Launched {% endif %}</td>
                    <td>{{ i.stillneededEvt }}</td>
                    <td align="center">

                        <a href="{{ path('sponsor_display', { 'id': i.idEvt}) }}">
                            <img src="{{ asset('Back/img/sponsor.png') }}" height="34" width="34">
                        </a>

                    </td>



                </tr>
            {% endfor %} {% endif %}
            </tbody>
        </table></div>
        <div class="row">
            {% if id != NULL %}
            <div class="card" style="width: 100%;" id="test" >
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Sponsorship of <span id="nameEvt">{{ name }}</span></h6>

                    </div>

                    <!-- Card Body -->
                    <div class="card-body ">
                      {% if sp == NULL %} No Sponsor Found
                        {% else %}

                        <div class=" row  " >
                            {% for j in sp %}
                            <div class="col-lg-4 col-md-6 ">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Sponsor</h6>
                                        <div class="dropdown no-arrow">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                                <div class="dropdown-header">Amount gived : </div>
                                                <a class="dropdown-item">{{ j.givenSponsor }}</a>
                                                <div class="dropdown-header">Date : </div>
                                                <a class="dropdown-item">{{ j.dateSponsor |date('d F Y') }}</a>


                                            </div>
                                        </div>
                                    </div>
                                    <!-- Card Body -->

                                    <img class="card-img-top" src="{{ asset('../../swr/web/uploads/') }}{{ j.logo }}" alt="Card image cap" height="250" width="250" >

                                </div>

                            </div>{% endfor %}
                        </div> {% endif %}
                    </div>
                </div>
            </div>{% endif %}
        </div>

    <!-- Div Zeyda ama khaleha -->
    </div>
    </div>
{% endblock %}