{% extends 'default/Front/squelette.html.twig' %}
{% block title %} Events {% endblock %}
   {% block login %}{% endblock %}
{% block userinfo %}

    <li><a href="faq.html" >

      <p class="d-flex-center-end"><i class=" xs-round-avatar">{% block userimg %}<img src="{{ asset('../../swr/web/uploads/') }}{{ u.image }}" class="" >{% endblock %}</i>{% block user %} {{ u }}{% endblock %} </p>




   </a></li>{% endblock %}

{% block logout %}  <li><a href="{{ path('fos_user_security_logout') }}">log out</a></li>{% endblock %}

{% block check %} {% endblock %}

{% block content %}
    <section class="xs-banner-inner-section parallax-window" style="background-image:url('{{ asset('Front/assets/images/backgrounds/event_bg.jpg') }}')">
        <div class="xs-black-overlay"></div>
        <div class="container">
            <div class="color-white xs-inner-banner-content">
                <h2>Events</h2>
                <p>Give a helping hand for Refugees</p>
                <ul class="xs-breadcumb">
                    <li class="badge badge-pill badge-primary"><a href="" class="color-white"> Home /</a> Events</li>
                </ul>
            </div>
        </div>
    </section>
        <main class="xs-main">
            <!-- video popup section section -->
            <section class="xs-content-section-padding">
                <div class="container">
                    <div class="row">

                        {% for i in evt %}
                        <div class="col-lg-6 row xs-single-event ">
                            <div class="col-md-5">
                                <div class="xs-event-image" height="500" width="500">
                                    <img src="{{ asset('../../swr/web/uploads/') }}{{ i.urlEvt }}" alt="" >
                                    <div class="xs-entry-date">
                                        <span class="entry-date-day">{{ i.dateEvt | date("Y/m/d")| split('/')[2] }}</span>
                                        <span class="entry-date-month">{{ i.dateEvt | date('F') }}</span>
                                    </div>
                                    <div class="xs-black-overlay"></div>
                                </div><!-- .xs-event-image END -->
                            </div>
                            <div class="col-md-7">
                                <div class="xs-event-content">
                                    <a href="#">{{ i.nameEvt }}</a>
                                    <p>{{ i.locationEvt }}</p>
                                    <div class="xs-countdown-timer" data-countdown="{{ i.dateEvt |date("Y/m/d")}}"></div>

                                    <a href="{{ path('event_singleP',{'id': i.idEvt}) }}" class="btn btn-primary">
                                        Learn More
                                    </a>
                                </div><!-- .xs-event-content END -->
                            </div>
                        </div><!-- .xs-single-event END -->
                               {% endfor %}
                    </div><!-- .row end -->
                </div><!-- .container end -->
            </section>
        </main>



    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft= "0";
        }
    </script>




{% endblock %}