{% extends 'default/Back/squelette.html.twig' %}

{% block stylemap %}
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="container">
        <div class="row page-titles">

            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Create new Housing</h3>
            </div>

            <div>
                <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form,{'method': 'post', 'attr': {'class': 'm-t-40'}}) }}
{#                        <form class="m-t-40"  method="post">#}
                            <div class="form-group">
                                <h5>Name: <span class="text-danger">*</span></h5>
                                <div class="controls">
                                    {{ form_widget(form.name, { 'attr':{'class':'form-control','Placeholder':'Name'} }) }}
                                    {% for errorItem in form.name.vars.errors %}
                                        <span class="alert-danger">{{ errorItem.message }}</span><br/>
                                    {% endfor %}
{#                                    <input type="text" name="name" class="form-control" required data-validation-required-message="This field is required"> </div>#}

                            </div>
                            <div class="form-group">
                                <h5>Description: <span class="text-danger">*</span></h5>
                                <div class="controls">
                                {{ form_widget(form.description, { 'attr':{'class':'form-control','Placeholder':'Description'} }) }}
                                {% for errorItem in form.description.vars.errors %}
                                    <span class="alert-danger">{{ errorItem.message }}</span><br/>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <h5>Address <span class="text-danger">*</span></h5>
                                <div class="controls">
                                    {{ form_widget(form.address, { 'attr':{'class':'form-control','Placeholder':'address'} }) }}
                                    {% for errorItem in form.address.vars.errors %}
                                        <span class="alert-danger">{{ errorItem.message }}</span><br/>
                                    {% endfor %}

                            </div>
                            <div class="form-group">
                                <h5>Capacity <span class="text-danger">*</span></h5>
                                <div class="controls">
                                    {{ form_widget(form.capacity, { 'attr':{'class':'form-control','type':'number','Placeholder':'capacity'} }) }}
                                    {% for errorItem in form.capacity.vars.errors %}
                                        <span class="alert-danger">{{ errorItem.message }}</span><br/>
                                    {% endfor %}
                            </div>
                            <div class="form-group">
                                <h5> Residents<span class="text-danger">*</span></h5>
                                <div class="input-group">
                                    {{ form_widget(form.nbresidents, { 'attr':{'class':'form-control','type':'number','Placeholder':'Residents Number'} }) }}
                                    {% for errorItem in form.nbresidents.vars.errors %}
                                        <span class="alert-danger">{{ errorItem.message }}</span><br/>
                                    {% endfor %}

                                </div>
                            </div>
                            <div class="form-group">
                                <h5>Type <span class="text-danger">*</span></h5>
                                <div class="input-group">
                                    {{ form_widget(form.type, { 'attr':{'class':'form-control','Placeholder':'Type'} }) }}
                                    {% for errorItem in form.type.vars.errors %}
                                        <span class="alert-danger">{{ errorItem.message }}</span>v
                                    {% endfor %}

                                </div>

                            </div>
                            <div class="container">

                            </div>
                            <div class="form-group">
                                <h5> Location:<span class="text-danger">*</span></h5>
                                <div class="input-group">
                                    {{ form_widget(form.location, { 'attr':{'class':'form-control','Placeholder':'Location'} }) }}
                                    {% for errorItem in form.location.vars.errors %}
                                        <span class="alert-danger">{{ errorItem.message }}</span><br/>
                                    {% endfor %}

                                </div>
                            </div>




                            <div class="text-xs-right">
                                {{ form_widget(form.save, { 'attr':{'class':'btn btn-info'} }) }}
{#                                <button type="submit" class="btn btn-info">Submit</button>#}
                                <button type="reset" class="btn btn-inverse">Cancel</button>
                            </div>
                                {{ form_end(form) }}
{#                        </form>#}

                    </div>
                </div>
            </div>
        </div>

    </div></div>

    <div id="map" class="container xs-section-padding  col-md-10 col-sm-1 align-self-center"></div>
{% endblock %}

{% block js %}


<script>

    function initMap() {
        var myLatLng = {lat: 36.872828, lng: 9.769179};

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!',
            draggable: true
        });
        marker.addListener('dragend', function(e, i) {
            // document.getElementById('current').innerHTML = 'Get Your Location From here: '+  '['+ marker.getPosition().lat() + ',' + marker.getPosition().lng() + ']';
            document.getElementById('housingbundle_housing_location').value= '['+ marker.getPosition().lat() + ',' + marker.getPosition().lng() + ']';
        });

    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALPYyxrjY4KClo41xfDVr7xexBWNB2jqk&callback=initMap">
</script>
{% endblock %}