{% extends 'default/Back/squelette.html.twig' %}

{% block content %}
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">New User</h3>
        </div>

        <div>
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <form class="m-t-40"  method="post">
                        <div class="form-group">
                            <h5>FirstName <span class="text-danger">*</span></h5>
                            <div class="controls">
                                <input type="text" name="nom" value="{{ emp.firstName }}" class="form-control" required data-validation-required-message="This field is required"> </div>

                        </div>
                        <div class="form-group">
                            <h5>LastName <span class="text-danger">*</span></h5>
                            <div class="controls">
                                <input type="text" name="prenom" value="{{ emp.lastName }}" class="form-control" required data-validation-required-message="This field is required"> </div>

                        </div>
                        <div class="form-group">
                            <h5>Country <span class="text-danger">*</span></h5>
                            <div class="controls">
                                <input type="text" name="country" class="form-control" value="{{ emp.country }}" required data-validation-required-message="This field is required"> </div>

                        </div>
                        <div class="form-group">
                            <h5>Email <span class="text-danger">*</span></h5>
                            <div class="controls">
                                <input type="email" name="email" class="form-control" value="{{ emp.email }}" required data-validation-required-message="This field is required"> </div>
                        </div>
                        <div class="form-group">
                            <h5>Telephone <span class="text-danger">*</span></h5>
                            <div class="input-group">

                                <input type="number" name="tel" class="form-control" value="{{ emp.tel }}" required data-validation-required-message="This field is required" pattern=".{8}">

                            </div>
                        </div>





                        <div class="text-xs-right">
                            <button type="submit" class="btn btn-info">Submit</button>
                            <button type="reset" class="btn btn-inverse">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

