{% extends 'default/Back/squelette.html.twig' %}
{% block title %} News {% endblock %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">News</h1>
        <a href="livraison-Ajout.php" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus-circle"></i> </i>  Add News</a></div>

    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Modify</h6>
    </div>
    <div class="card-body">
    <form method="POST" id="formnews">

    <div class="card-body">
        <div class="table-responsive">
            <form name="f" onsubmit="return verifForm(this);">
                <table  id="dataTable" width="60%" border="0px" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>
                            <input width="10%"  name="titre" type="text" class="form-control form-control-user" id="titre" onblur="verifref(this)" value={{ news.titre }}>
                            <span id="errort"></span>
                        </th>

                    </tr>
                    </thead>
                    <thead>
                    <tr>
                        <th>Description</th>
                        <th>
                            <input width="10%" type="text" class="form-control form-control-user" id="description" onblur="verifnom(this);" name="description" value={{ news.description }}  >
                            <span id="errord"></span>
                        </th>

                    </tr>
                    </thead>
                    <thead>
                    <tr>
                        <th>Category</th>
                        <th>  <select class="form-control form-control-user" name="nomcat" width="100%">
                                {% for elt in cat %}
                                <option value={{ elt.nomcat}}>{{ elt.nomcat}}</option>
                                 {% endfor %}
                            </select>
                        </th>

                    </tr>
                    </thead>
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>

                            <input  type="file" name="image" id="image"  width="30%" value={{ news.image }} >
                            <span id="errori"></span>
                            <label for="file">{{ news.image }}</label>
                        </th>

                    </tr>
                    </thead>
                    <thead>
                    <input type="hidden"  value={{ news.idn }}  name="idn">

                    <tr> </tr>
                    </thead>
                </table>
                </br>
                <input type="submit" name="modify" value="Modify"  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="verifForm()" >
            </form>
        </div>
    </div>

    <script>
        let myform = document.getElementById('formnews');
        let tit = document.getElementById('titre');
        let desc = document.getElementById('description');
        let im = document.getElementById('image');
        let myregex = /^[a-zA-Z-\s]+$/;
        myform.addEventListener('submit',function (e) {
            if(tit.value.trim() == "")
            {
                let err = document.getElementById('errort');
                err.innerHTML="**Champ is Empty**";
                err.style.color="red";
                e.preventDefault();
            }
            if(desc.value.trim() == "")
            {
                let err = document.getElementById('errord');
                err.innerHTML="**Champ is Empty**";
                err.style.color="red";
                e.preventDefault();
            }
            if(im.value.trim() == "")
            {
                let err = document.getElementById('errori');
                err.innerHTML="**Champ is Empty**";
                err.style.color="red";
                e.preventDefault();
            }
            else if(myregex.test(tit.value) == false)
            {
                let err = document.getElementById('errort');
                err.innerHTML="**The structure is not correct**";
                err.style.color="red";
                e.preventDefault();
            }
            else if(myregex.test(desc.value) == false)
            {
                let err = document.getElementById('errord');
                err.innerHTML="**The structure is not correct**";
                err.style.color="red";
                e.preventDefault();
            }

        });

    </script>
    <script type="text/javascript">
        $('#file_btn').mouseleave(function () {



            var file = $('#file_btn').val();




            var mo =  file.split('\\')[2];


            $(':input[name=image]').val(mo);







        });






        //'src', '/CiteDeLaCulture/web/css/mo_images/spiderman.jpg'
        $('input[name=mofile]').mouseleave(function () {
            $('#moimg').attr('src', '/swr/web/uploads/'+$('input[name=image]').val());

        });
    </script>

{% endblock %}