
{% extends 'default/Back/squelette.html.twig' %}

{% block content %}
    {% if id == NULL %}  {% else  %}  {% endif %}
    <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Proposition Space</h1>
        <a href="#test1"  id="add" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="Testsadd()"><i class=""  ><img src="{{ asset('Back/img/add.png') }}"></i> Add Proposition</a>
    </div>

    <!-- Content Row -->
    <div class="row" style="padding: 0 18em 7em 20em">

    {% if cm == NULL %}
        <h3>NO Proposition Found</h3>
    {% else %}

        <table class="table-bordered" >
            <thead style="background-color: #feaf31">
            <tr>
                <td style="color:#101010" align="center">Compaign Name</td>
                <td style="color: #101010" align="center">Decription (Details)</td>
                <td style="color: #101010" align="center">Action</td>
            </tr>
            </thead>
            <tbody>
            {% for i in cm %}

                <tr>
                     <td>{{ i.name["nameCmp"]}}</td>
                    <td>{{ i.detail }}</td>


                    <td align="center">
                        <a href="{{ path('prop_delete', { 'id': i.idSugg} ) }}">
                            <img src="{{ asset('Back/img/delete.png') }}">
                        </a>

                        <a  href="{{ path('prop_upp', { 'id': i.idSugg} ) }}"  id="mod" onclick="">
                            <img src="{{ asset('Back/img/edit.png') }}">



                        </a>
                    </td>


                </tr>
                            {% endfor %} {% endif %}
            </tbody>
        </table>
    </div>
        <div class="row" style="padding: 0 18em 7em 20em" >
            <div  id="Testadd" hidden="true">
                <div class="card shadow mb-4" id="test1" onclick="window.location.hash='add'; ">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Add Proposition To  A Campaign In Few Easy Steps &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
                    </div>
                    <div class="card-body">

                        <div class="row" style="padding: 0 7em 1.5em 0"></div>
                        {{ form_start(f, {'method': 'post', 'action': path('prop_add')   } ) }}
                        <select class="form-control" name="sel">
                            <option> Select Compaign</option>
                            {% for c in n %}
                            <option> {{ c.nameCmp}}</option>{% endfor %}
                        </select>

                        <div class="row" style="padding: 0 7em 1.5em 0"></div>
                        {{ form_widget(f.detail,{'attr': {'class': 'form-control', 'placeholder': 'Details'} }) }}
                        <div class="row" style="padding: 0 7em 1.5em 0"></div>
                        {{ form_widget(f.Submit,{'attr': {'class': 'btn btn-primary'} }) }}
                         {{ form_end(f) }}
                    </div>
                </div>
        </div>
            {% if id != NULL %}
            <div class="row" style="padding: 0 18em 7em 20em">
                <div  id="Testadd" >
                <div class="card shadow mb-4" id="test1"  >
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Update Proposition In Few Easy Steps &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
                    </div>
                    <div class="card-body">
                        <form  method="POST" >
                            <div class="row" style="padding: 0 7em 1.5em 0"></div>
                            <select name="sel">
                            <option> Select Compaign</option>
                                        {% for c in n %}
                                <option> {{ c.nameCmp}}</option>{% endfor %}
                                </select>

                            <div class="row" style="padding: 0 7em 1.5em 0"></div>
                            <textarea  name="desc"  placeholder="description" class="form-control" >{{ prop.detail }}</textarea>
                            <div class="row" style="padding: 0 7em 1.5em 0"></div>
                            <div class="row" style="padding: 0 7em 1.5em 0"></div>
                            <button type="submit" class="btn btn-primary mb-2" >Submit</button>
                        </form>
                    </div>
                </div>
                </div></div>{% endif %} </div>

<script>

    function TestsFunction(id) {
        var T = document.getElementById("TestsDiv");
        T.hidden = false;  // <-- Set it to block
        var T1=document.getElementById("te");
        T1.innerHTML=id;
        var T2 = document.getElementById("Testadd");
        T2.hidden = true;  // <-- Set it to block
    }
    function Testsadd() {
        var T = document.getElementById("Testadd");
        T.hidden = false;  // <-- Set it to block

    }
</script>
    <!-- Div Zeyda ama khaleha -->
    </div>
{% endblock %}